*{
    padding: 0;
    margin: 0;
}
#cartoes{
    display: flex;
}
#galeria img {
    width: 2rem;
    object-fit: cover;
  }
  
  #mais {
    display: none;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    width: 200px;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  #btn-mostrar-mais {

  }
  