/*importar font*/
@font-face{
    font-family: [Gotham];
    src: local(Gotham), url(../assets/font/Gotham-Medium.otf);
    font-weight: normal;
  }
  @font-face{
    font-family: [Gotham];
    src: local(Gotham), url(../assets/font/Gotham-Bold.otf);
    font-weight: bold;
  }
  @font-face{
    font-family: [Gotham];
    src: local(Gotham), url(../assets/font/Gotham-Black.otf);
    font-weight: bolder;
  }
  /*importar font*/
  :root{
    --blue: #1d75de ;
    --black: #121212 ;
    --background_gray: #efefef ;
    --green: #1ed760 ;
    --gray: #919496 ;
    --font: Gotham;
    --color-white: #fff;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    
  }
  #planos{
    background-color: var(--background_gray);
    /*
    width: 100vw;
    height: 100vw;
    */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  #cartoes{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  #galeria img {
      width: 2rem;
      object-fit: cover;
    }
    #cartoes{
        margin-bottom: 20px;
    }
  #mais {
      display: none;
      position: absolute;
      left: 50%;
      border-radius: 10px;
      padding-left: 8px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 150px;
      flex-wrap: wrap;
      row-gap: 5px;
      column-gap: 5px;
      background-color: var(--color-white);
  }
    
  #btn-mostrar-mais {
    border: none;
    background: none;
    text-decoration: underline;
    padding-left: 5px;
    padding-bottom: 6px;
    cursor: pointer;
  }
  .escolha_p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 10px;
  }
  .escolha_p h3{
    font-size: 28px;
    margin-bottom: 10px;
  }
  .escolha_p p{
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  
  #cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
  }
  
  .cards-4 {
      background-color: var(--color-white);
      width: 400px;
      height: 90%;
      padding: 30px;
      border-radius: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      overflow-x: hidden;
  }
  .pagamento-ind{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .pagamento-ind h3{
    margin-top: 15px;
  }
  .pagamento{
    color: var(--blue);
    font-weight: bold;
    border: 1px solid var(--blue);
    padding: 5px;
    border-radius: 5px;
  }
  .linha{
      margin-top: 15px;
      left: 30%;
      right: 30%;
      border-top: 1px solid var(--black);
  }
  
  .card-list{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
  }
  
  .card-list i{
    font-size: 40px;
  }
  .card-list li{
    display: flex;
    align-items: center;
  }
  
  .btn-comeca-agr{
    width: 400px;
    height: 45px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    background-color: var(--black);
    color: var(--color-white);
    border-radius: 30px;
    margin: 25px 0px 15px 0px;
  }
  .sujeito span{
    text-decoration: underline;
    cursor: pointer;
  }
  .sujeito{
    text-align: justify;
    font-size: 12px;
  }
  
  
  @media only screen and (min-width: 768px) {
    #planos{
      background-color: var(--background_gray);
      /*
      width: 100vw;
      height: 100vw;
      */
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 992px){
  
  }
  @media only screen and (min-width: 1200px){
    #cards{
      display: flex;
      gap: 10px;
      justify-content: center;
      flex-direction: row;
    }
    
    .cards-4 {
        background-color: var(--color-white);
        width: 240px;
        height: 669px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow-x: hidden;
    }
    .pagamento{
      display: flex;
      font-size: 13px;
    }
    .btn-comeca-agr{
      width: 240px;
      height: 35px;
    }
    ul.card-list {
      font-size: 15px;
      height: 345px;
    }
  }
  
  
  
  
  