@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
:root{
    --blue: #1d75de ;
    --black: #121212 ;
    --background_gray: #efefef ;
    --green: #1ed760 ;
    --gray: #919496 ;
}
*{
    margin: 0;
    padding: 0;
}

/*linha para fechar a lingua*/
#lenguage{
    height: 45px;
    background: var(--blue);
    font-family: 'Lato' , Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    color: white;
}
#lenguage > p{
    text-decoration: underline;
}
#lenguage > button{
    border: none;
    color: white;
    background: var(--blue);
}
/*linha para fechar a lingua*/

