/*importar font*/
@font-face{
    font-family: [Gotham];
    src: local(Gotham), url(../assets/font/Gotham-Medium.otf);
    font-weight: normal;
}
@font-face{
    font-family: [Gotham];
    src: local(Gotham), url(../assets/font/Gotham-Bold.otf);
    font-weight: bold;
}
@font-face{
    font-family: [Gotham];
    src: local(Gotham), url(../assets/font/Gotham-Black.otf);
    font-weight: bolder;
}
/*importar font*/
:root{
    --blue: #1d75de ;
    --black: #121212 ;
    --background_gray: #efefef ;
    --green: #1ed760 ;
    --gray: #919496 ;
    --font: Gotham;
    --color-white: #fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

/*linha para fechar a lingua*/
#lenguage{
    height: 45px;
    background: var(--blue);
    font-family: var(--font), Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    color: white;
}
#lenguage > p{
    text-decoration: underline;
}
#lenguage > button{
    border: none;
    color: white;
    background: var(--blue);
}
/*linha para fechar a lingua*/



/*isto e para os links do li*/
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
  a:hover {
    color: var(--green);
}
/*isto e para os links do li*/



/*deixar a imagem do logo menor*/
.logo > img{
    width: 120px;
}
/*deixar a imagem do logo menor*/
  

/*isto e para os elementos ficaram ao lado um do outro fora do resposivo*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Gotham;
    font-weight: bold;
    background: var(--black);
    height: 6vh;
    padding: 0 4vh;
}
  nav > ul li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 15px;
    position: relative;
}
ul{
    display: flex;
    justify-content: space-between;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.nav-list-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*isto e para os elementos ficaram ao lado um do outro fora do resposivo*/



/*para o X ficar sumido*/
.mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 10;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s; /* serve para a animação do hambuirguer */
}
/*para o X ficar sumido*/


/*determinar o tamanho da font*/
.nav-div-1{
    font-size: 35px;
    font-weight: 700;
    display: flex;
    gap: 20px;
}
.nav-div-2{
    font-size: 35px;
    font-weight: 400;
    display: flex;
    gap: 20px;
}
/*determinar o tamanho da font*/


/*linha que fica no meio dos inteins */
.line-nav {
    margin-left: 20px;
    width: 2px;
    height: 25px;
    background: white;
}
/*linha que fica no meio dos inteins */


/*imagens do logo do spotifly no responsivo*/
.nav-div-3 > img{
    display: none;
    opacity: 0%;
    transition: 0.3s;
}
/*imagens do logo do spotifly no responsivo*/
/*para o elemento voltar ao lugar */
.nav-list.active { /*fara o menu aparecer*/
    transform: translateX(0);
  }
  
/*servae para animar igual no after */  
@keyframes navLinkFade { 
    from {
      opacity: 0;
      transform: translateX(50px); /*uma trasição da esquerda para a direita */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
/*servae para animar igual no after */


/*para animar os elementos do hamburguer */
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/*para animar os elementos do hamburguer */

/*curtição parte 2*/

#promotion{
    padding: 30px 0px 0px 0px;
    width: 100vw;
    height: 23rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: var(--blue);
    color: var(--color-white);
}
#promotion h1{
    width: 95vw;
    font-size: 28px;
    font-weight: bold;
    color: var(--color-white);
}
    .prom-valor{
    font-weight: bolder;
    font-size: 26px;
    }
#promotion  p{
    width: 95vw;
    font-weight: bold;
    font-size: 15px;
}

.btn_longo{
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    width: 90vw;
    height: 45px;
    background-color: var(--black);
    border-radius: 30px;
    border: solid 3px var(--black);
    margin-bottom: 15px;
    font-size: 1px !important;
    color: var(--color-white);
}
    .btn_longo p{
    font-size: 14px !important;
    }
    .btn_longo-2 p{
    font-size: 14px !important;
    }
.btn_longo-2{
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    width: 90vw;
    height: 45px;
    border-radius: 30px;
    border: solid 3px white;
}
.promo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.promo-img img{
    width: 70%;
}
.letrinhas p{
    font-size: 10px !important;
    cursor: pointer;
}
.letrinhas span{
    text-decoration: underline;
    color: var(--color-white);
}
/*curtição parte 2*/

/*bolinhas parte 3*/
#pq_ser_premium{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
.Modo_off {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    font-family: Gotham;
    width: 100%;
    margin-bottom: 30px;
}
.Modo_off img{
    width: 6.5rem;
}
.Modo_off h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.Modo_off p{
    font-size: 15px;
}



.pq-premium{
    margin-top: 30px;
    text-align: center;
    font-family: Gotham;
    font-size: 15px;
    font-weight: bold;
}
/*bolinhas parte 3*/

    /*site responsivo*/
    @media only screen and (min-width: 768px) {
        body{
            overflow: hidden;
        }
        #promotion{
            padding: 30px 20px 0px 3rem;
            width: 100vw;
            height: 23rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            background-color: var(--blue);
            color: var(--color-white);
        }
        .botoes{
            display: flex;
            align-items: center;
            width: 90vw;
            gap: 15px;
            justify-content: flex-start !important;
        }
            .btn_longo p{
            font-size: 15px !important;
            font-weight: bold !important;
            font-family: Gotham;
            }
            .btn_longo-2 h1{
            font-size: 15px !important;
            font-weight: bold !important;
            font-family: Gotham;
            }
        .btn_longo{
            width: 12rem;
            margin-bottom: 0;
        }
        .btn_longo-2{
            width: 12rem;
        }
        #promotion  p{
            width: 750px;
            font-weight: normal;
            font-size: 22px;
        }
        #promotion h1{
            width: 750px;
            font-size: 40px;
        }
        .prom-valor{
            font-size: 40px;
            }
        .letrinhas p{
            font-size: 10px !important;
            color: var(--color-yellow);
            width: 700px !important;
        }

        /*bolinhas parte 3*/
        .Modo_off{
            width: 40vw;
        }
        .pq-premium{
            font-size: 20px;
            margin-top: 50px;
        }
        /*bolinhas parte 3*/
    }

@media (max-width: 992px) {
    /*ele faz com que o elemento fora da tela n tenha uma barra de rolagem çlateral*/
    body {
      overflow-x: hidden;
    }
    /*ele faz com que o elemento fora da tela n tenha uma barra de rolagem çlateral*/


    /*serve para que posso ajudtar os elemntos no responsivo*/
    .nav-list {
      position: absolute;
      top: 0vh;
      right: 0;
      width: 45vw; /*tamanho da barra */
      height: 100vh;
      background: var(--black);
      padding-left: 30px;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(100%); /*ele joga o elemento para fora da tela*/
      transition: transform 0.3s ease-in; /*animação ficar mais suave*/
    }
    .nav-list-div{
        display: flex;
        align-items: flex-start;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    .nav-list-div{
        display: flex;
        flex-direction: column;
    }
    /*serve para que posso ajudtar os elemntos no responsivo*/

    /*propriedades da fontes */
    .nav-div-1{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .nav-div-2{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        opacity: 80%;
    }
    nav > ul li{
        font-size: 30px;
    }
    /*propriedades da fontes */


    /*linha no meio das info*/
    .line-nav {
        width: 25px;
        height: 3px;
        background: white;
        margin-left: 0;
    }
    /*linha no meio das info*/


    /*propriedade de imagem*/
    .nav-div-3 > img{
       width: 80px;
       display: inline-block;
       position: fixed;
       opacity: 100%;
    }
    .nav-div-3{
        margin-bottom: 50px;
    }
    /*propriedade de imagem*/
}
@media only screen and (min-width: 1200px){
    #promotion{
        padding: 30px 20px 0px 3rem;
        width: 100vw;
        height: 23rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background-color: var(--blue);
        color: var(--color-white);
    }
    .letrinhas p{
        font-size: 12px !important;
        color: var(--color-yellow);
        width: 700px !important;
    }
    #promotion  p{
        width: 90vw;
        font-weight: normal;
        font-size: 25px;
    }

    /*bolinhas parte 3*/
    #pq_ser_premium{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px;
        width: 1200px;
        margin: auto;
    }
    .Modo_off {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Gotham;
        width: 285px;
        margin-bottom: 30px;
    }
    .Modo_off img{
        width: 8.5rem;
    }
    .pq-premium{
        font-size: 20px;
        margin-bottom: 60px;
    }
    /*bolinhas parte 3*/
}
